* {
    margin: 0;
    padding: 0;
}

.cabecalho {
   background-color: #383D58;color: #000;
   color: white;
   display:flex;
   color: white;
   display:flex;
   justify-content:space-around;
}

.cabecalho-lista-item{

   display: inline-block;

}
.cabecalho-lista-item{

  display: inline-block;
  margin: 0 16px;

}

.cabecalho-lista-item{
  margin: 0 16px;
  padding: 24px 0;
  justify-content: space-around;
  padding: 24px 0;
  padding: 24px 0;
  font-size: 24px;
} 

                                
                                
                    
                    
                    